*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
#.gitignore
.idea/
#Baselibrary/
#Coupon/
#UserCenter/
#app/
#build.gradle
#config.gradle
#gradle.properties
gradle/
gradlew
gradlew.bat
#settings.gradle
#Baselibrary/libs/
#Baselibrary/src/main/java/
#Baselibrary/src/main/res/res/
#Coupon/libs/
#UserCenter/libs/
#app/libs/
#app/src/main/res/values-night/
